<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout::html_head"></head>
<body>
    <div th:replace = "_layout::header"></div>

    <div th:replace = "_layout::off-canvas"></div>

    <main>
        <div class="container">
            <div>
                <div class="d-flex justify-content-between my-3 me-4">
                    <h3>Dashboard | My Jobs</h3>
                    <span>
                        <a class="btn btn-sm btn-primary rounded-0 me-5 px-3 shadow-lg" th:href="@{/job/create}"><i class="bi bi-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Job</a>
                    </span>
                </div>

                <div>
                    <table class="table" id="myTable" style="border:2px solid black;">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">DATE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">COMPANY</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="job: ${jobs}" style="font-size:12px;" >
                                <td th:text="${job.jobDate}"></td>
                                <td th:text="${job.jobTitle}"></td>
                                <td th:text="${job.companyName}"></td>
                                <td>Created</td>
                                <td>
                                    <a th:href="@{/job/detail/} + ${job.idJob}" class="btn btn-sm btn-success rounded-0"><i class="bi bi-folder2-open"></i>&nbsp;&nbsp;&nbsp;Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>

    <div th:replace="_layout::footer"></div>

    <div th:replace="_layout::scripts"></div>

    <script>
        $(document).ready(function(){
            let table = new DataTable('#myTable');
        })
    </script>

</body>
</html>