<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout_unsecured::html_head"></head>
<body>
<div>
    <div th:replace = "_layout_unsecured::header"></div>
    <div class="container mt-4 p-3">

        <!--/* SECTION 1 */-->
        <div class="row">
            <div class="col p-5">
                <h5>Job Application Tracker</h5>
                <h1 th:text="'This is a ' + ${message}" class=""></h1>
                <hr class="my-4 w-75">
                <p class="lead text-muted">
                    Keep track of all your job applications and manage your job search all in one place.
                </p>
                <div>
                    <a th:href="@{/register}" class="btn btn-outline-dark rounded-0">
                        Free Sign Up
                    </a>
                    <a th:href="@{/login}" class="btn btn-success rounded-0">
                        Sign In
                    </a>
                </div>
            </div>
            <div class="col text-center bg-info p-5">
                <img th:src="@{/img/jumbotron1.png}" alt="jumbotron1" width="350px" />
            </div>
        </div>


        <!--/* SECTION 2 */-->
        <div class="row">
            <div class="col text-center bg-info p-5">
                <img th:src="@{/img/jumbotron2.png}" alt="jumbotron2" width="350px" />
            </div>
            <div class="col p-5">
                <h5>Save Jobs Faster</h5>
                <h1 th:text="'This is a ' + ${message}" class=""></h1>
                <hr class="my-4 w-75">
                <p class="lead text-muted">
                    Use the extension to save jobs you’re interested in right from your browser.
                </p>
                <div>
                    <a th:href="@{/register}" class="btn btn-outline-primary rounded-0">
                        Download Free e-book
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="_layout_unsecured::footer"></div>

<div th:replace="_layout_unsecured::scripts"></div>
</body>
</html>