@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');

body {
    font-family: "Ruluko", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ruluko-regular {
    font-family: "Ruluko", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: red;
  color: white;
  text-align: center;*/
}
