<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout::html_head"></head>
<body>
<div>
    <div th:replace = "_layout::header"></div>

    <div th:replace = "_layout::off-canvas"></div>

    <div class="container py-2">
        <div>
            <div class="row">
                <div class="col-sm-12 col-lg-2"></div>
                <div class="col-sm-12 col-lg-4 px-0">
                    <div class="card my-5 rounded-0 shadow">
                        <img th:src="@{/img/contact_img.jpg}" alt="" height="347">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 px-0">
                    <div class="card p-4 my-5 rounded-0 shadow">
                        <div class="text-center mb-3 text-primary">
                            <h1>Contact Us</h1>
                        </div>
                        <div></div>
                        <div></div>
                        <div>
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control form-control-md rounded-0" value="">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" class="form-control form-control-md rounded-0" value="">
                                </div>
                                <div class="mb-3"><label class="form-label">Message</label>
                                    <textarea class="form-control form-control-md rounded-0" rows="3"></textarea>
                                </div>
                                <button class="btn btn-md btn-primary rounded-0">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-2"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="_layout::footer"></div>

<div th:replace="_layout::scripts"></div>
</body>
</html>