<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="_layout_unsecured::html_head"></head>
<body class="bg-info">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-3"></div>
                <div class="col-md-12 col-lg-6">
                    <div class="mt-5 bg-light p-3 mx-3">
                        <div class="text-center">
                            <h6>Jobs Tracking Management System</h6>
                        </div>
                        <div class="">
                            <form class="form-signin" th:action="@{/login}" method="post">
                            <h3 class="text-center">Sign in</h3>
                                <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert"><strong class="text-center">Invalid Email or Invalid password</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            <div th:if="${param.logout}" class="alert alert-warning alert-dismissible fade show" role="alert"><strong class="text-center">You have been signed out</strong><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
                            <div>
                                <div class="input-group mb-3">
                                    <input type="text" id="username" name="username" class="form-control rounded-0" placeholder="Username" aria-label="Recipient's username" aria-describedby="basic-addon2" required autofocus>
                                    <span class="input-group-text rounded-0" id="basic-addon2"><i class="bi bi-person-fill"></i></span>
                                </div>
                                <div class="input-group mb-1">
                                    <input  type="password" id="password" name="password" class="form-control rounded-0" placeholder="Password" aria-label="Recipient's password" aria-describedby="basic-addon2" required>
                                    <span class="input-group-text rounded-0" id="basic-addon3"><i class="bi bi-lock-fill"></i></span>
                                </div>.
                                <div class="d-flex justify-content-between">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Remember Me
                                        </label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary rounded-0 shadow px-3" style="min-width: 100px;">Sign In</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>

                        <div class="text-center my-3">
                            - OR -
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary rounded-0 shadow-lg">
                                <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;
                                Sign in using Facebook
                            </button>
                            <button class="btn btn-danger rounded-0 shadow-lg">
                                <i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;
                                Sign in using Google+
                            </button>
                        </div>

                        <div class="py-3">
                            <a th:href="@{/register}" class="text-decoration-none fw-medium">Register New User</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-lg-3"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{_layout_unsecured :: scripts}"></div>
</body>
</html>